/* Общий стиль */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    color: #18664c;
}

.container {
    display: flex;
    height: 100vh;
}

.user-greeting {
    font-size: 1.2rem; /* Размер шрифта для приветствия */
    margin-bottom: 15px; /* Отступ снизу */
    color: white; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
}

.user-greeting a {
    color: #ffc107; /* Желтый цвет для ссылки */
    font-weight: bold; /* Жирный текст */
    text-decoration: none; /* Убираем подчеркивание */
}

.user-greeting a:hover {
    color: #e0a800; /* Темно-желтый цвет при наведении */
    text-decoration: underline; /* Добавляем подчеркивание при наведении */
}

/* Сайдбар */
.sidebar {
    width: 130px;
    background-color: #1b9f73;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #1b9f73;
    padding-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: #18664c;
}

/* Контент */
.content {
    flex: 1;
    padding: 25px;
    overflow-y: auto;
}

.content h1, .content h2 {
    margin-bottom: 20px;
    color: #18664c;
    font-weight: bold;
}

/* Таблица */
.table-container {
    width: 100%;
    margin: 0 auto 10px auto;
    overflow-x: scroll; /* Включает горизонтальную прокрутку */
    position: relative; /* Позиционирование для скролл-бара */
    padding-bottom: 12px;
}

/* Стили для горизонтального скролл-бара */
.table-container::-webkit-scrollbar {
    height: 12px; /* Высота скролл-бара */
    background-color: #f1f1f1; /* Цвет фона трека */
}

.table-container::-webkit-scrollbar-track {
    background: #e8f5f0; /* Цвет трека */
    border-radius: 10px; /* Закругленные углы трека */
}

.table-container::-webkit-scrollbar-thumb {
    background: #1b9f73; /* Цвет ползунка */
    border-radius: 10px; /* Закругленные углы ползунка */
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #18664c; /* Цвет ползунка при наведении */
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: auto; /* Позволяет столбцам занимать пространство автоматически */
}

.table th,
.table td {
    vertical-align: middle; /* Центрирует содержимое по вертикали */
    text-align: center;
    padding: 4px 8px; /* Уменьшаем отступы внутри ячеек */
    line-height: 1.2; /* Уменьшаем высоту строки */
    border: 1px solid #ddd;
}

.table th {
    background-color: #e8f5f0;
    color: #18664c;
    font-weight: bold;
}

.table td {
    vertical-align: middle;
    white-space: nowrap; /* Убирает перенос текста */
    overflow: hidden; /* Обрезает слишком длинное содержимое */
    text-overflow: ellipsis; /* Добавляет троеточие для длинного текста */
}

.table .file-preview {
    width: 40px; /* Устанавливаем фиксированную ширину для превью */
    height: auto; /* Сохраняем пропорции */
    margin: 0 auto; /* Центрируем превью */
    display: block; /* Гарантируем блочный элемент */
}

.table td img,
.table td a {
    max-width: 40px; /* Устанавливаем ограничение на ширину */
    max-height: 40px; /* Устанавливаем ограничение на высоту */
    display: block;
    margin: 0 auto; /* Центрируем */
}

.table td form, 
.table td a {
    display: inline-block; /* Делает кнопки в строку */
    margin: 0 5px; /* Добавляет отступы между кнопками */
    vertical-align: middle; /* Выравнивает кнопки по центру вертикали */
}


/* Кнопки в таблице */
.btn {
    padding: 4px 8px;
    font-size: 0.85rem;
    border-radius: 5px;
    display: inline-block;
    min-width: 70px; /* Минимальная ширина для кнопок */
    align-items: center;
    display: inline-flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    text-align: center; /* Центрирование текста */
    white-space: nowrap; /* Убедитесь, что текст не переносится */
    line-height: 1; /* Устанавливает нормальное расстояние между строками */
}


.btn-outline-info {
    color: #17a2b8;
    border: 1px solid #17a2b8;
    text-decoration: none;
}

.btn-outline-info:hover {
    background-color: #17a2b8;
    color: white;
}

.btn-outline-warning {
    color: #ffc107;
    border: 1px solid #ffc107;
    text-decoration: none;
}


.btn-outline-warning:hover {
    background-color: #ffc107;
    color: white;
}

.btn-outline-danger {
    color: #dc3545;
    border: 1px solid #dc3545;
    background-color: white; /* Белый фон */
    text-decoration: none;
    font-weight: normal; /* Убираем жирность */
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

.btn-secondary {
    color: #7f8c8d;
    border: 1px solid #7f8c8d;
    background-color: white;
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: #7f8c8d;
    color: white;
    border: 1px solid #7f8c8d;
}


/* Кнопка "Aggiungi nuovo" */
.add-btn-container {
    margin: 20px auto;
    text-align: center;
}

.button-frame, .btn-success {
    display: inline-block;
    padding: 10px 20px;
    border: none; /* Убираем рамку */
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: #1b9f73; /* Зелёный цвет */
    transition: 0.3s;
    text-decoration: none;
}

.button-frame:hover, .btn-success:hover {
    background-color: #18664c; /* Более тёмный зелёный при наведении */
    color: white;
}

/* Форма создания/редактирования */
.form-container {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #18664c;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    box-sizing: border-box;
}

.form-input:focus {
    border-color: #1b9f73;
    outline: none;
    box-shadow: 0 0 5px rgba(27, 159, 115, 0.5);
}

.form-button {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #1b9f73;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #18664c;
}

#preview {
    max-width: 300px;
    margin-top: 10px;
    display: none;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    word-wrap: break-word; /* Перенос слов */
    overflow-wrap: break-word; /* Альтернатива для переноса */
}
.card-title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #2c3e50;
}
.table-details {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
.table-details th {
    text-align: left;
    width: 40%;
    padding: 8px;
    background-color: #ecf0f1;
    word-wrap: break-word; /* Перенос длинных слов */
}
.table-details td {
    padding: 8px;
    background-color: #ffffff;
    word-wrap: break-word; /* Перенос длинных слов */
    max-width: 70%;
}
.card-actions {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px; /* Расстояние между кнопками */
}

.card-actions a,
.card-actions button {
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для кнопок */
.card-actions .btn-outline-warning {
    color: #ffc107;
    border: 1px solid #ffc107;
    background-color: transparent;
}

.card-actions .btn-outline-warning:hover {
    background-color: #ffc107;
    color: white;
}

.card-actions .btn-outline-danger {
    color: #dc3545;
    border: 1px solid #dc3545;
    background-color: transparent;
}

.card-actions .btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

.card-actions .btn-secondary {
    color: #7f8c8d;
    border: 1px solid #7f8c8d;
    background-color: transparent;
}

.card-actions .btn-secondary:hover {
    background-color: #7f8c8d;
    color: white;
}

.file-preview {
    width: 40px; /* Устанавливаем ширину */
    height: auto; /* Сохраняем пропорции */
    margin: 0 auto; /* Центрируем изображение в ячейке */
    display: block; /* Делаем изображение блочным для центрирования */
}

.index-container {
    position: relative;
    text-align: center;
    color: white;
}

/* Стили для баннера */
.banner {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    height: 600px; /* Увеличенная высота баннера */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Псевдоэлемент для изображения */
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/background.png'); /* Укажите путь к вашему изображению */
    background-size: cover;
    background-position: center;
    opacity: 0.6; /* Прозрачность только для изображения */
    z-index: 2; /* Устанавливаем уровень ниже текста */
}

/* Стили для текста */
.banner div {
    position: relative;
    z-index: 2; /* Текст поверх изображения */
    text-align: center;
    color: #083d12; /* Цвет текста */
}

.banner h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тень для лучшей читаемости */
}

.banner p {
    font-size: 1.5rem;
    margin: 10px 0 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Добавляем тень для текста */
}


/* Общие стили для ссылок */
.file-link {
    display: inline-block;
    text-align: center;
    width: 300px;
    max-width: 100%; /* Для адаптации */
    margin: 10px auto;
    overflow-y: auto; /* Включаем вертикальный скролл */
    max-height: 400px; /* Ограничиваем высоту, чтобы скролл был виден */
    border: 1px solid #ddd; /* Добавляем рамку для наглядности */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* PDF (iframe) */
.pdf-preview {
    width: 100%;
    height: 100%; /* Высота теперь контролируется контейнером */
    border: none;
    pointer-events: none; /* Запрещает взаимодействие внутри iframe */
}

/* Изображения */
.img-preview {
    width: 100%;
    height: auto;
    cursor: pointer; /* Указывает на кликабельность */
    border: none;
}

/* Стили для верхней панели */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b9f73;
    color: white;
    padding: 20px 20px 30px; /* Увеличенный нижний отступ */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-title {
    text-align: center;
    margin-bottom: 15px; /* Отступ между заголовком и кнопками */
}

.header-title h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}

.header-title h1 a {
    text-decoration: none;
    color: white;
}

.user-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-buttons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.auth-buttons a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-login {
    background-color: #18664c;
}

.btn-login:hover {
    background-color: #145940;
}

.btn-register {
    background-color: #ffc107;
    color: #18664c;
}

.btn-register:hover {
    background-color: #e0a800;
}

.flash-messages {
    margin: 20px 0;
    text-align: center;
}

.alert {
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
}

.alert.success {
    color: green;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-bottom: 10px;
}

.alert.error {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 200px; /* Увеличим ширину для лучшего отображения */
    background-color: #1b9f73;
    padding: 10px;
}

.sidebar h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar h1 a {
    text-decoration: none;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    padding: 8px;
    border-radius: 4px;
}

.sidebar ul li a:hover {
    background-color: #18664c;
}

.logout-button {
    margin-top: auto;
    margin-bottom: 25px;
    text-align: center;
}

.btn-logout {
    color: #fff;
    background-color: #e74c3c;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-logout:hover {
    background-color: #c0392b;
}


.profile-container, .users-container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-details {
    list-style: none;
    padding: 0;
}

.profile-details li {
    margin: 10px 0;
}

/* Контейнер для кнопок в форме */
.form-button-container {
    display: flex;
    flex-direction: column; /* Расположить кнопки вертикально */
    gap: 10px; /* Расстояние между кнопками */
    margin-top: 20px; /* Отступ сверху */
}

/* Для кнопки подтверждения */
.form-button.secondary {
    background-color: #ffc107;
    color: #18664c;
    font-weight: bold;
}

.form-button.secondary:hover {
    background-color: #e0a800;
    color: white;
}

.profile-actions a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.profile-actions .btn-update-password {
    background-color: #1b9f73; /* Зелёный цвет */
    border: 1px solid #1b9f73;
}

.profile-actions .btn-update-password:hover {
    background-color: #18664c; /* Тёмно-зелёный при наведении */
}

.profile-actions .btn-back {
    background-color: #ffc107; /* Жёлтый цвет */
    border: 1px solid #ffc107;
    color: #18664c;
}

.profile-actions .btn-back:hover {
    background-color: #e0a800; /* Тёмно-жёлтый при наведении */
    color: white;
}


/* Стили для экранов шириной до 768px (например, iPhone) */
@media only screen and (max-width: 768px) {

    /* Центрирование кнопки "Aggiungi Nuovo" */
    .add-btn-container {
        text-align: center; /* Центрируем кнопку */
        margin: 12px 0; /* Уменьшаем отступы сверху и снизу */
    }

    .add-btn-container .button-frame {
        font-size: 0.75rem; /* Уменьшаем размер текста */
        padding: 6px 13px; /* Уменьшаем внутренние отступы */
        border-radius: 7px; /* Уменьшаем радиус закругления */
    }

    .auth-buttons a {
        padding: 6px 12px; /* Уменьшаем отступы */
        font-size: 0.9rem; /* Уменьшаем размер текста */
    }

    /* Баннер */
    .banner {
        padding: 10px;
        height: 400px; /* Уменьшаем высоту баннера */
    }
    .banner div {
        font-size: 1.2rem;
        padding: 10px;
    }

    .banner h1 {
        font-size: 1.9rem; /* Уменьшаем размер текста */
    }

    .banner p {
        font-size: 1rem; /* Уменьшаем размер текста */
        margin: 5px 0 0;
        word-wrap: break-word; /* Перенос текста */
    }

    /* Общий стиль */
    body {
        font-size: 12px; /* Уменьшение общего размера шрифта */
        text-align: left; /* Текст выравнивается влево */
    }

    /* Кнопки */
    .btn {
        padding: 6px 12px; /* Уменьшаем отступы */
        font-size: 13px; /* Уменьшаем размер шрифта */
        min-width: 45px; /* Минимальная ширина кнопки */
    }
    .btn-outline-info,
    .btn-outline-warning,
    .btn-outline-danger,
    .btn-secondary {
        font-size: 0.8rem; /* Уменьшаем текст кнопок */
        padding: 4px 10px; /* Уменьшаем внутренние отступы */
        border-radius: 4px; /* Закругляем углы */
    }

    /* Карточки */
    .card {
        width: 95%; /* Уменьшение ширины карточки */
        margin: auto; /* Центрируем карточку */
        padding: 7px; /* Уменьшаем отступы */
        word-wrap: break-word; /* Перенос текста */
    }

    .card-title {
        font-size: 1.0em; /* Уменьшаем размер заголовка */
    }

    .card-actions {
        display: flex; /* Flexbox для выравнивания кнопок */
        flex-wrap: wrap; /* Кнопки переносятся */
        justify-content: center; /* Центрируем кнопки */
        gap: 8px; /* Промежуток между кнопками */
        margin-top: 10px; /* Отступ сверху */
        word-wrap: break-word; /* Перенос текста */
    }

    .card-actions .btn {
        font-size: 0.9rem; /* Уменьшаем размер кнопок */
        padding: 4px 8px; /* Уменьшаем отступы */
        min-width: 70px; /* Минимальная ширина кнопок */
    }

    /* Общий контейнер текста */
    .content {
        padding: 10px; /* Добавляем внутренние отступы */
    }

    /* Центрирование текста */
    .content h2,
    .content p {
        text-align: center; /* Выравниваем текст по центру */
    }

    .file-link {
        width: 80%;
    }
    .flash-messages {
        font-size: 0.85rem; /* Уменьшаем размер текста сообщений */
        padding: 10px; /* Уменьшаем отступы */
    }

    /* Форма создания/редактирования */
    .form-container {
        width: 90%; /* Уменьшаем ширину формы */
        margin: 20px auto; /* Центрируем форму с меньшими отступами */
        padding: 15px; /* Уменьшаем внутренние отступы */
    }

    .form-label {
        font-size: 1.1em; /* Уменьшаем размер текста метки */
    }

    .form-input {
        padding: 8px; /* Уменьшаем отступы */
        font-size: 0.9em; /* Уменьшаем размер текста */
    }

    .form-button {
        padding: 8px; /* Уменьшаем отступы */
        font-size: 0.9em; /* Уменьшаем размер текста */
    }

    .form-title{
        font-size: 1.2rem; /* Уменьшаем размер шрифта заголовка */
    }

    /* Стили для заголовка и текста */
    h2 {
        font-size: 1.2rem; /* Уменьшаем размер шрифта заголовка */
        margin-bottom: 10px; /* Уменьшаем отступ снизу */
    }

    .header-title h1 {
        font-size: 1.0rem; /* Уменьшаем размер заголовка */
    }

    p {
        font-size: 1rem; /* Уменьшаем размер шрифта текста */
        line-height: 1.4; /* Улучшаем читаемость */
        margin: 10px 15px; /* Добавляем отступы */
        text-align: center;
    }


    /* Уменьшаем кнопки пагинации */
    .pagination .btn {
        font-size: 0.8rem; /* Уменьшаем размер текста */
        padding: 5px 10px; /* Уменьшаем внутренние отступы */
        border-radius: 3px; /* Уменьшаем радиус */
        margin: 2px; /* Уменьшаем отступы между кнопками */
        display: flex;
    }

    /* Центрируем пагинацию внутри карточки контента */
    .pagination {
        display: flex;
        justify-content: center; /* Центрируем кнопки пагинации */
        margin: 10px auto; /* Добавляем отступ сверху и снизу */
        max-width: 300px; /* Ограничиваем ширину пагинации */
    }

    /* Профиль и контейнеры */
    .profile-container, .users-container {
        max-width: 100%; /* Делаем ширину адаптивной */
        padding: 10px; /* Уменьшаем отступы */
    }

    .profile-details li {
        font-size: 0.9em; /* Уменьшаем размер текста */
        text-align: center;
    }

    /* Уменьшаем кнопки в разделе профиля */
    .profile-actions .btn {
        font-size: 0.8rem; /* Уменьшаем размер текста */
        padding: 7px 12px; /* Уменьшаем внутренние отступы */
        border-radius: 4px; /* Уменьшаем радиус */
        display: flex; /* Включаем Flexbox */
        justify-content: center; /* Центрируем по горизонтали */
        gap: 8px; /* Промежуток между кнопками */
        margin-top: 8px; /* Отступ сверху */
    }

    
    /* Сайдбар */
    .sidebar {
        width: 90px; /* Уменьшаем ширину сайдбара */
        padding: 10px; /* Уменьшаем отступы внутри */
        font-size: 1.0rem;
    }

    .sidebar h1 {
        font-size: 1.2em; /* Уменьшаем размер заголовка */
        text-align: center;
    }

    .sidebar ul li a {
        font-size: 1.0em; /* Уменьшаем размер текста ссылок */
        padding: 6px 10px; /* Уменьшаем отступы */
        text-align: center;
    }

    /* Таблица */
    .table {
        width: 100%; /* Таблица занимает всю ширину */
        table-layout: auto; /* Автоматическая ширина колонок */
    }

    .table-container {
        overflow-x: auto; /* Включаем горизонтальную прокрутку, если таблица не помещается */
        overflow-y: auto;
    }

    .table th, .table td {
        text-align: center; /* Выравниваем текст по центру */
        padding: 5px; /* Уменьшаем отступы */
        font-size: 0.9rem; /* Уменьшаем размер текста */
        white-space: nowrap; /* Запрещаем перенос строк */
    }

    .table-details th,
    .table-details td {
        font-size: 0.8rem; /* Уменьшаем текст в таблице */
        padding: 6px; /* Уменьшаем внутренние отступы */
        word-wrap: break-word; /* Перенос длинного текста */
        word-break: break-word; /* Перенос длинных слов */
        overflow-wrap: break-word; /* Альтернатива для переносов */
        text-align: left;
        vertical-align: top; /* Выравниваем содержимое сверху */
        white-space: normal; /* Разрешаем перенос строк */
    }

    .table-details th {
        width: 43%; /* Устанавливаем ширину заголовков */
        font-weight: bold; /* Жирный текст для заголовков */
        color: #18664c; /* Цвет заголовков */
    }

    .table-details td {
        width: 57%; /* Устанавливаем ширину данных */
        background-color: #f9f9f9; /* Фоновый цвет для данных */
    }

    .user-greeting {
        font-size: 1rem; /* Уменьшаем размер шрифта */
        margin-bottom: 10px; /* Уменьшаем отступ */
        text-align: center; /* Выравнивание текста по центру сохраняем */
    }

    .user-greeting a {
        font-size: 1rem; /* Уменьшаем размер ссылки */
    }
}
